body {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: rgb(250, 223, 231);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #C30F45
}

.container {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;    
  align-items: center;
  background-color: #150a15f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
  color: #C30F45;
  font-size: 50px;
  margin-bottom: 20px;
}

p {
  color: rgb(250, 223, 231);
  font-size: 20px;
  margin-bottom: 20px;
}
#message-el {
  font-style: italic;
}

button {
  background-color: #C30F45;
  margin: 10px;
  color: white;
  border: none;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: #ad0e3e;
  color: white;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.bold {
  font-weight: bold;
  font-size: 25px;
}

.disabled {
  background-color: rgb(108, 108, 108);
  color: white;
  cursor: not-allowed;
  opacity: 0.7;
}
button.disabled:hover {
  transform: none;
  background-color: rgb(108, 108, 108);
    color: white;
}